body{
  background-color: black;
  padding-top: 100px;
}

section{
  background-color: blanchedalmond;
  height: 600px;
  width: 600px;
  margin: 0 auto;

  padding: 50px;
}

section > div {
  background-color: azure;
  padding: 50px;
}

section > div > div {
  background-color: lavender;
  overflow: hidden;
}

section > div > div > div {
  background-color: lavenderblush;
  position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 25%;
}

section > div > div > div > div {
  background-color: plum;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


div{
  height: 100%;
  width: 100%;
}




#outer-circle {
    background: #385a94;
    border-radius: 50%;
    height:500px;
    width:500px;
    margin: 0 auto;
}
#inner-circle {
    position: relative;
    background: #a9aaab;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px red, 0px 0px 0px 20px green, 0px 0px 0px 30px yellow, 0px 0px 0px 40px pink;
    height:300px;
    width:300px;
    margin: 6em;
    top: 100px;
    left: 100px
    bottom: 100px;

}
